body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: #152938;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #FCFCFC;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    background: #152938;
    margin: 80px 24px 116px 24px;
  }
  
  .first-btn {
      background-color: #BCCED9;
      color: white; 
  }
    
  .second-btn {
      background-color: #304859;
      color: white; 
  }
  
  button {
      width: 134px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 26px;
      background: #bcced9;
      border-color: transparent;
      margin: 5px;
      color: #FCFCFC;
      text-align: center;
      font-family: Atkinson Hyperlegible;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;  
  } 
  
  .hoverable:hover {
      background-color: #304859;
  }
  
  .startButton {
      width: 279px;
      height: 48px;
      flex-shrink: 0;
      border-radius: 26px;
      background: #fda214;
      color: #fcfcfc;
      text-align: center;
      font-family: Atkinson Hyperlegible;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 25px;
  }
  
  .card-container {
      display: grid; 
      grid-template-columns: repeat(6, 1fr); 
      gap: 10px;
      padding: 10px;
  }
  
  .card {
      cursor: pointer;
  }
  
  .card img {
      border-radius: 10px;
      border: 2px solid black;
      padding: 10px;
      background-color: white;
  }
  
  .startGameCard {
      width: 327px;
      height: 386px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #FCFCFC;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  p {
      color: #7191a5;
      text-align: left;
  }
  
  h1 {
      color: #fcfcfc;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
  }
  